{% load async_include %}

<h1>Shop lists</h1>
<div>
    View
    {% for size in sizes %}
        <a href="{% url 'shop_list:index' %}?size={{size}}" title="See shoplists ({{size}})">
            {{size}}
        </a>
    {% endfor %}
</div>
<ul>
    {% for shop_list in shop_lists %}
        <li>
            <a href="{% url 'shop_list:shop_list' shop_list.id %}">
                {{ shop_list.name }} ({{shop_list.created_at}})
            </a>
            {% async_include "shop_list/partials/item_list.html" shop_list=shop_list items=shop_list.item_set.all %}
        </li>
    {% endfor %}
</ul>