{% load async_include %}

<h1>Shop lists</h1>
<div>
    <a href="{% url 'shop_list:index' %}?use_ws=1" title="Use HTTP async requests">
        Use websockets in partial loading
    </a>
</div>
<div>
    View
    {% for size in sizes %}
        <a href="{% url 'shop_list:index' %}?size={{size}}" title="See shoplists ({{size}})">
            {{size}}
        </a>
    {% endfor %}
</div>
<ul>
    {% for shop_list in shop_lists %}
        <li>
            <a href="{% url 'shop_list:view_shop_list' shop_list.id %}">
                {{ shop_list.name }} ({{shop_list.created_at}})
            </a>
            {% async_include "shop_list/partials/item_list.html" shop_list=shop_list items=shop_list.item_set.all food_group_percentages=food_group_percentages item_list_title=item_list_title item_list_title_em=12 item_list_title_color="red" request_time=request_time %}
        </li>
    {% endfor %}
</ul>